# deps
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.angular/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# vite / test
coverage/
.vite/
